<div class="row">
    <div class="col-lg-12">
        <div class="input-group">
            <div class="input-group-btn">
                <button id="location-detect" type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true">Location
                </button>
            </div><!-- /btn-group -->
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Select district<span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Select district</a></li>
                    <li><a href="#">Dhaka</a></li>
                </ul>
            </div><!-- /btn-group -->
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Select area<span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Select area</a></li>
                    <li><a href="#">Uttara</a></li>
                    <li><a href="#">Banani</a></li>
                    <li><a href="#">Gulshan</a></li>
                    <li><a href="#">Mohakhali</a></li>
                </ul>
            </div><!-- /btn-group -->
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Select speciality<span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Select speciality</a></li>
                    <li><a href="#">Orthopedics</a></li>
                    <li><a href="#">Gynocologist</a></li>
                    <li><a href="#"></a></li>

                </ul>
            </div><!-- /btn-group -->
            <div class="col-lg-5">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Doctor's name">
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="do-search" type="button">Go!</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div><!-- /.row -->