<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="col-md-1"></div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Exhort</a>
        </div>
        <ul class="nav-bar-list">
            <li class="nav-bar-list-item-view">
                <a href="#"><span class="nav-bar-list-item-icon fa fa-lock"></span></a>
            </li>
            <li class="nav-bar-list-item-view">
                <a href="/logout"><span class="nav-bar-list-item-icon fa fa-sign-out"></span></a>
            </li>
        </ul>
        <div class="col-md-1"></div>
</div><!-- /.container-fluid -->