<form class="col-md-offset-0">
    <fieldset class="form-group">
        <label for="doctor-name">Full Name</label>
        <input type="text" class="form-control" id="doctor-name" placeholder="Full name">
        <small class="text-muted">This is the name which users find you.</small>
    </fieldset>
    <fieldset class="form-group">
        <label for="doctor-username">Username</label>
        <input type="text" class="form-control" id="doctor-username" placeholder="Username for login">
    </fieldset>
    <fieldset class="form-group">
        <label for="doctor-email">Email</label>
        <input type="text" class="form-control" id="doctor-email" placeholder="Email for login">
    </fieldset>
    <fieldset class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password at least 6 charecters">
    </fieldset>
    <fieldset class="form-group">
        <label for="re-password">Re enter password</label>
        <input type="password" class="form-control" id="re-password" placeholder="Re enter password at least 6 charecters">
    </fieldset>
    <button type="reset" class="btn btn-info register-cancel">Cancel</button>
    <button type="submit" class="btn btn-primary register-doctor">Register</button>
</form>