<form>
    <fieldset class="form-group">
        <label for="doctor-name">Name</label>
        <input type="email" class="form-control" id="doctor-name" placeholder="Enter Name">
        <small class="text-muted">We'll never share your email with anyone else.</small>
    </fieldset>
    <fieldset class="form-group">
        <label for="designation-select">Example select</label>
        <select class="form-control" id="designation-select">
            <option value="General practitioner">General practitioner</option>
            <option value="CA">CA</option>
            <option value="IMO">IMO</option>
            <option value="Register">Register</option>
            <option value="Assistant professor">Assistant professor</option>
            <option value="Associate professor">Associate professor</option>
            <option value="Professor">Professor</option>
        </select>
    </fieldset>
    <fieldset class="form-group">
        <label for="qualification-description">Password</label>
        <input type="text" class="form-control" id="qualification-description" placeholder="Qualification description">
    </fieldset>
    <fieldset class="form-group">
        <label for="visiting-day">Visiting Days</label>
        <input type="text" class="form-control" id="visiting-day" placeholder="Visiting days">
    </fieldset>
    <fieldset class="form-group">
        <label for="honorarium">Honorarium</label>
        <input type="text" class="form-control" id="honorarium" placeholder="Honorarium">
    </fieldset>
    <fieldset class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address" placeholder="Address">
    </fieldset>
    <fieldset class="form-group">
        <label for="chamber-contact-number">Chamber Contact Number</label>
        <input type="text" class="form-control" id="chamber-contact-number" placeholder="Chamber contact number">
    </fieldset>
    <fieldset class="form-group">
        <label for="exampleTextarea">Example textarea</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </fieldset>
    <!--<fieldset class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" class="form-control-file" id="exampleInputFile">
        <small class="text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
    </fieldset>-->
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
            Option one is this and that&mdash;be sure to include why it's great
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            Option two can be something else and selecting it will deselect option one
        </label>
    </div>
    <div class="radio disabled">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
            Option three is disabled
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Check me out
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-primary post-call">post-call</button>
    <button type="submit" class="btn btn-primary get-call">get-call</button>
</form>