{
  "root": true,
  "extends": "airbnb",
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    // Overrides of the Airbnb style guide
    "id-length": 0,
    "comma-dangle": [2, "never"]
  }
}