<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Login</h4>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="username" class="control-label">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="password" class="control-label">Password</label>
            <input type="password" class="form-control" placeholder="Password" id="password">
        </div>
    </form>
</div>
<div class="modal-footer">
    <a href="#/register">don't have account. please register</a>
    <button type="button" class="btn b href="#/register" tn-primary">Login</button>
</div>